/**************************
GENERAL
**************************/


body {
	font-family: 'play', sans-serif;
}



/**************************
HEADING
**************************/


#logo {
	text-align: center
}

h1 {
	font-family: 'poiret one', sans-serif;
	font-size: 6em;
	font-weight: inherit;
	
}
